<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-button/paper-button.html">

<dom-module id="el-form">
  <template>
    <style>
      :host {
        display: block;
      }
      paper-button{
        background:#94C770;
        width:100%;
      }
    </style>
    <main>
      <h1>[[configData.title]]</h1>
      <div>
        <paper-input label="[[configData.label1]]" value="{{inputvalue1}}"></paper-input>
      </div>
      <div>
        <paper-input label="[[configData.label2]]" value="{{inputvalue2}}"></paper-input>
      </div>
      <div>
        <paper-input label="[[configData.label3]]" value="{{inputvalue3}}"></paper-input>
      </div>
      <div>
        <paper-button on-click="formEvent">[[configData.buttonName]]</paper-button>
      </div>
    </main>
  </template>

  <script>
    /**
     * `el-form`
     * this is a form to add chairos
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ElForm extends Polymer.Element {
      static get is() { return 'el-form'; }
      static get properties() {
        return {
          configData:{
            type: Object,
            value: () => {
              return {
                title: 'Add Alumn',
                buttonName: 'Add',
                label1: 'Name',
                label2: 'Email',
                label3: 'Phone'
              }
            }
          },
          inputvalue1:{
            type: String,
            value: ''
          },
          inputvalue2:{
            type: String,
            value: ''
          },
          inputvalue3:{
            type: String,
            value: ''
          }
        };
      }

      formEvent(){
        console.log("form-event");
        this.dispatchEvent(
          new CustomEvent('form-event',{
            detail: {
              name: this.inputvalue1,
              email: this.inputvalue2,
              phone: this.inputvalue3
            }
          })
        )
      }
    }

    window.customElements.define(ElForm.is, ElForm);
  </script>
</dom-module>
